{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-footer" . }}
{{ end }}

<div class="footer">
  <div class="contain">
    <p>
    • &nbsp; <a href="#">{{ T "backToTop" }}</a>
    </p>

    <p>{{ .Site.Params.description | markdownify }}</p>

    <!-- Please keep this one around to help cState grow <3 -->
    <small class="footer__copyright faded">{{ T "poweredBy" }} <a href="https://github.com/cstate/cstate"><b>cState</b></a></small>

    {{ if not .Site.Params.disableIncidentHistory }}
      <hr>
      
      <p class="hinted">
        <small>
          ⚡
          {{ T "rss" }} —
          {{ with $.Site.Home.OutputFormats.Get "rss" }}
            <a href="{{ .Permalink }}" class="no-underline">{{ T "toAllUpdates" }}</a>
          {{ end }}
          {{ if not .IsHome }}
          {{ with .OutputFormats.Get "rss" }}
            {{ T "or" }} <a href="{{ .Permalink }}" class="no-underline">{{ T "onlyThisFeed" }} ({{ $.Title }})</a>
          {{ end }}
          {{ end }}
        </small>
      </p>
    {{ end }}
  </div>
</div>

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-footer" . }}
{{ end }}
